body{
    background-color: rgb(50, 50, 60);
    font-family: 'Open Sans', sans-serif;
    color: #36c336;
    margin: 0;
    min-height: 100vh;
}

a{
    color: black;
    background-color: #36c336;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content nav ul{
    padding: 0;
    text-align: center;
    list-style: none;
    font-weight: 600;
}

.homepage__title{
    text-align: center;
}
.homepage__intro{
    text-align: center;
}
.homepage__intro--dots{
    color: transparent;
}
.homepage__intro--dots.is-active{
    color: #36c336;
}

.metadata{
    color: gray;
    position: absolute;
    bottom: 0px;
    right: 10px;
    text-align: right;
}